.createAccountText, .loginText {
    font-size: 20px;
    letter-spacing: 0.5px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.forgotPassword {
    color: white;
    font-family: 'Roboto', sans-serif;;
}

.createAccountButton {
    margin-bottom: 60px !important;
}

.cardWrapper {

}

