.cardWrapper {

}

.createAccountTitle {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 26px;
}

.signUpFormWrapper {
    width: 100%
}

.signUpFormWrapper :global(.MuiTextField-root) {
    width: 100%;
    border-color: white;
}