.cardWrapper {
    max-height: inherit;
    min-height: 510px;
}

.createAccountTitle {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 26px;
}

.signUpFormWrapper {
    margin-top: 30px;
    width: 100%
}

.signUpFormWrapper :global(.MuiTextField-root) {
    width: 100%;
    margin-bottom: 30px;
}

.signUpFormWrapper :global(.MuiFormLabel-root), .signUpFormWrapper :global(.MuiInputBase-input) {
    color: #fff;
}

.signUpFormWrapper :global(.MuiFormLabel-root.Mui-focused) {
    color: #ab98ec !important
}

.signUpFormWrapper :global(.MuiOutlinedInput-notchedOutline) {
    border-color: #fff !important;
}

.signUpFormWrapper :global(fieldset) {
    border-color: #ab98ec !important;
}
