.ProfileEditWrapper {
  font-family: var(--montserrat);
  background: var(--dark-background-color);
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
