.NavBarCentered {
    height: 100vh;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    position: fixed;
    right: 2px;
    top: 0;
    display: flex;
}

.NavBar {
    border: 1px solid var(--dark-border-color);
    width: 225px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.NavBar h3 {
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    text-align: end;
    font-size: 22px;
}

.NavBar h3:hover {
    cursor: pointer;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #e60073, 0 0 4px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}