:root {
    --dark-background-color: #15202b;
    --dark-border: 1px solid var(--dark-border-color);
    --dark-border-color: rgb(56, 68, 77);
    --montserrat: 'Montserrat', sans-serif;
    --white: #fff;

    /*padding & margin*/
    --tb-10px: 10px 0;
    --tb-20px: 20px 0;
    --lr-15px: 0 15px;
}

#__next,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.MuiPaper-root {
    background: var(--dark-background-color) !important;
    color: #fff !important;
}