.loginPageWrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgb(225, 225, 225);
    display: flex;
    align-items: center;
}


.loginContainer {
    background-color: lightgray;
    width: 30vw;
    min-width: 400px;
    height: 70vh;
    min-height: 500px;
    border: solid gray;
    border-radius: 10px;
    border-width: 1px;
    margin-left: 60vw;
}

.loginTextWrapper {
    position: absolute;
    left: 20vw;
}